body{
    margin: 0;
    color: #0E1111;
}

.header{
    background-color: #1F2833;
    color: #66FCF1;
}

.header .container{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

.container{
    padding: 15px;
    width: 80%;
    margin: auto;
}

.header .title{
    margin: 0;
    display:flex;
    align-items: center;
}

.header nav{
    display: flex;
    justify-content: end;
}

.header nav ul{
    list-style-type: none;
    margin: 0;
}

.header nav ul li{
    display: table-cell;
    padding: 20px;
}

a{
    text-decoration: none;
    transition: color 0.5s;
    font-weight: bold;
    color: #66FCF1;
}

a:hover, a.active{
    color: #45A29E;
    text-decoration: underline;
}

.title-container{
    text-align: center;
    font-size: 40px;
    padding: 50px;
}

.title-container h1{
    width: fit-content;
    margin: auto;
    color: #66FCF1;
    text-shadow: 2px 2px #0B0C10;
}

.blog-content{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 20px;
}

.blog-content div{
    padding: 20px;
}

.image-container{
    display: flex;
    align-items: center;
}

.blog-content div img{
    width: 100%;
}

.blog-content p{
    text-align: justify;
}

.blog-list{
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    grid-gap: 20px;;
}

.article{
    border-radius: 20px;
    background-color: #C5C6C7;
}

.article-info{
    padding: 20px;
}

.article-info h3{
    margin-top: 0;
    text-shadow: 1px 1px #0B0C10;
}

.article img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

footer{
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    background-color: #0B0C10;
    color: #66FCF1;
}

form{
    width: 60%;
    margin: auto;
}

.input-container{
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-gap: 20px;
    align-items: center;
    margin: 15px 0;
}
.input-container label{
    text-align: right;
}

.input-container input, .input-container select, .input-container textarea{
    padding: 10px;
}

.button-container{
    text-align: center;
}

form button[type=submit]{
    background-color: #66FCF1;
    padding: 10px 15px;
    border: none;
    margin: auto;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    color: #202833;
}

form button[type=submit]:hover{
    background-color: #45A29E;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    ul{
        display: none;
    }
    .container{
        width: 90%;
        margin: 0;
    }

    form{
        width: 100%;
    }

    .input-container{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .input-container input, .input-container select, .input-container textarea{
        padding: 7px;
    }

    .input-container label{
        text-align: left;
    }

    .title-container h1{
        font-size: 50px;
    }
}